<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Store</title>
</head>

<body>
    <header class="header container">
        <nav class="nav">
            <ul class="header__menu">
                <li class="header__menu__items">
                    <a class="header__menu__items-link" href="">
                        <svg class="header__menu__items-icon">
                            <use href="/static/images/icons/sprite.svg#menu" fill="black">
                        </svg>
                    </a>
                </li>
                <li class="heaer__menu__items">
                    <ul class="header__menu">
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">NEW</a></li>
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">КАТАЛОГ</a></li>
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">О НАС</a></li>
                    </ul>
                </li>
                <li class="heaer__menu__items">
                    <a class="heaer__menu__items-link logo" href="">
                        <svg class="heaer__menu__items-icon logo">
                            <use href="/static/images/icons/sprite.svg#logo" fill="black">
                        </svg>
                    </a>
                </li>
                <li class="header__menu__items">
                    <ul class="header__menu">
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">RU</a></li>
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">UAH</a></li>
                    </ul>

                <li class="header__menu__items">
                    <ul class="header__menu">
                        <li class="header__menu__items"><a class="heaer__menu__items-link" href="">
                                <svg class="header__menu__items-icon">
                                    <use href="/static/images/icons/sprite.svg#seach" fill="black">
                                </svg>
                            </a>
                        </li>
                        <li class="header__menu__items"><a class="header__menu__items-link" href="">
                                <svg class="header__menu__items-icon">
                                    <use href="/static/images/icons/sprite.svg#profile" fill="black">
                                </svg>
                            </a></li>
                        <li class="header__menu__items"><a class="header__menu__items-link" href="">
                                <svg class="header__menu__items-icon">
                                    <use href="/static/images/icons/sprite.svg#favorite" fill="black">
                                </svg>
                            </a></li>
                        <li class="header__menu__items"><a class="header__menu__items-link" href="">
                                <svg class="header__menu__items-icon">
                                    <use href="/static/images/icons/sprite.svg#basket" fill="black">
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="head">
            <div class="container">
                <div class="head__wrapper">
                    <h1>Новая коллекция</h1>
                    <p class="head__text">
                        <a class="head__text-link">Смотреть Новинки</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="category">
            <div class="category__wrapper container">
                <h2>Категории</h2>
                <div class="category__items">
                    <div class="category__card">
                        <h4 class="category__card-title">Куртки</h4>
                    </div>
                    <div class="category__card">
                        <h4 class="category__card-title">Пальто</h4>
                    </div>
                    <div class="category__card">
                        <h4 class="category__card-title">Шубы</h4>
                    </div>
                    <div class="category__card">
                        <h4 class="category__card-title">Парки</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="alert">
            <div class="alert__wrapper">
                <h2>Узнайте первым о новинках</h2>
                <form class="alert__form" method="post" action="">
                    <input class="alert__form-input" type="email" name="" id="" placeholder="Ваш e-mail">
                    <button class="alert__form-button" type="submit">ПОДПИСАТЬСЯ</button>
                    <p>Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих персональных данных и
                        ознакомлен(а) с условиями конфиденциальности.
                    </p>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__wrapper container">
            <div class="footer__items">
                <ul class="footer__items-list">
                    <h4>КОМПАНИЯ</h4>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">О нас</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Контакты</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#"></a></li>
                </ul>
            </div>
            <div class="footer__items">
                <ul class="footer__items-list">
                    <h4>ПОЛЕЗНОЕ</h4>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Оплата и доставка</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Условия возврата</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Бонусная система</a></li>
                </ul>
            </div>
            <div class="footer__items">
                <ul class="footer__items-list">
                    <h4>ПОКУПАТЕЛЮ</h4>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Избранное</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Публичная оферта</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">Политика
                            конфиденциальности</a>
                    </li>
                </ul>
            </div>
            <div class="footer__items">
                <ul class="footer__items-list">
                    <h4>КОНТАКТЫ</h4>
                    <li class="footer__items-inner">
                        <a class="footer__items-link" href="#"> <svg class="footer__items-icon">
                                <use href="/static/images/icons/sprite.svg#insta" fill="black">
                            </svg></a>
                        <a class="footer__items-link" href="#"> <svg class="footer__items-icon">
                                <use href="/static/images/icons/sprite.svg#telegramm" fill="black">
                            </svg></a>
                    </li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">+38(073) 096 36 44</a></li>
                    <li class="footer__items-inner"><a class="footer_items-link" href="#">info@yanki.com</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>